@import "bootstrap";
body{
    background-image: image-url("background.png") ;//=> url(/assets/naoty.png)
    background-size: cover;
	font-family: kozuka-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.btn-wrap {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.loading {
    display: none;
}
.bg-haiku{
	position:absolute;
	top:0;
	display: flex;
}
.header{
	width:100%;
}
.nav-left{
	margin-left:10px;
}
.tweet-btn-share:hover{
  background-color: #fff;
  color:#1E1E1E;
  text-decoration: none;
}
.tweet-btn-share{
  background-color: #1E1E1E;
  border: 2px solid #1E1E1E;
  border-radius: 0;
  color: #fff;
  padding:4px 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
  height:38px;
  margin-top:20px;
  margin-right: 50px;
}
.nav_right{
	display:flex;
	width:100%;
	justify-content: flex-end;
}

h1{
		margin-bottom: -6px;
}

	h1,h2{
		font-family: kozuka-gothic-pro, sans-serif;
		font-weight: 900;
		font-style: normal;
	}
.haiku_btn{
		margin:0 auto;
		border: solid 3px #1E1E1E;
		width:149px;
		height:52px;
		display: flex;
		justify-content: center;
		background-color: rgba(10, 10, 10, 0.0);
		z-index: 10;
			a{
			color:#1E1E1E;
			text-align: center;
			font-size:31px;
			}
}
.navbar-brand{
	font-size:31px;
	margin-top: 13px;
}
.sub{
	margin-top:-15px;
	font-size:14px;
}
.description{
	p{
		font-size:15px;
		line-height: 9px;
	}
}
img{

	position: absolute;
	right: 100px;
	top: 300px;
	z-index: -1;
}

.index{
		height: 80vh;
		width: 289px;
		margin:100px auto;
		.phrase_box{
			width:286px;
			min-height: 341px;
			display: flex;
			justify-content:center;
			.phrease{
			  -ms-writing-mode: tb-rl;
			  writing-mode: vertical-rl;
			  font-size: 44px;

			}
		}
		
	}


.new{
	height:100vh;
	padding-top: 50px;
	.row{
		display: flex;
		justify-content: space-between;
		.description{
			margin-top: -121px;
		}
		.form{
			form{
				width:300px;
			}
			.haiku_btn_submit{
		margin-left:  209px;
		border: solid 3px #1E1E1E;
		width:90px;
		height:35px;
		display: flex;
		background-color: rgba(10, 10, 10, 0.0);
			color:#1E1E1E;
			text-align: center;
			font-size:19px;
		font-weight: 900;

			}
		}
		
		.attention{
			margin-top: 70px;
		}
	}
}

@media (max-width:980px) { 
.bg-haiku{
	position:fixed;
	top:auto;
	bottom: 0;
	right:0;
}
.tweet-btn-share{
  margin-right:0;
  background-color: #1E1E1E;
  border: 2px solid #1E1E1E;
  border-radius: 0;
  color: #fff;
  padding:10px 62px;
  font-size:50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  height:80px;
}
	.main_content{
		margin-top:136px;
	}
.title{
	width:70%;
	margin:0 auto;
	h1{
	width:176px;
	margin-top:100px;
	}
}
.haiku_btn{
	margin-left:  0px;
	margin:0 auto;
	border: solid 5px #1E1E1E;
	width:500px;
	height:150px;
	display: flex;
	background-color: rgba(10, 10, 10, 0.0);
	color:#1E1E1E;
	text-align: center;
	a{
	font-size:80px;
	font-weight: 900;
	line-height: 150px;
		width:100%;
	}
}

	.index{
			height: 100vh;
			width: 70%;
			margin:70px auto;
			display:flex;
			justify-content: center;
			min-height:1200px;
			.phrase_box{
				width:100%;
				height:62vh;
				min-height:800px;
				display: flex;
				justify-content:space-between;
				margin-left: -12px;
				margin-top:-33px;
				.phrease{
				  -ms-writing-mode: tb-rl;
				  writing-mode: vertical-rl;
				  font-size: 100px;
				  line-height: 30px;

				}
			}
			
		}

		.new{
				width:100%;
				margin-left:20px;
			.row{
				display:flex;
				flex-direction: colom;
				align-items: centar;
				width:82%;
				margin:200px auto;
				.description{
					text-align:center;
					h2{
						font-size:74px;
					}
					p{
						display: none;
						font-size:28px;
					}
				}
			.form{
				display:flex;
				justify-content: start;
				width:100%;
				max-width:auto;
				margin:0 auto;
				
				form{
					width:100%;
					margin: 100px auto;
					.input_form{
						width:749px;
						height:90px;
					}
					input,label{
						font-size:28px;

					}label{

						padding-top:10px;
					}
				}
				.haiku_btn_submit{
					margin-left:  0px;
					margin: 100px auto;
					border: solid 5px #1E1E1E;
					width:auto;
					height:100px;
					line-height: 100px;
					display: flex;
					background-color: #1E1E1E;
					color:#fff;
					text-align: center;
					font-size:46px;
					font-weight: 900;
					padding: 0 51px ; 
				}
				.haiku_btn_submit :hover{
					background-color: #fff;
					color:#1E1E1E;
				}
			}
		}
	}
img{
	position: absolute;
	right: 50px;
	top: 60vh;
	z-index: -1;
	width:300px;
	opacity:0.5;
}

p{
	font-size:28px;
}

}
@media (min-width: 1150px) {
	.container-fluid{
		max-width:1150px;
	}
}