@import "bootstrap";
body{
    background-image: image-url("background.png") ;//=> url(/assets/naoty.png)
    background-size: cover;
	font-family: kozuka-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.title{
	margin-top:55px;
	width:143px;
	h1{
	border: solid 3px #1E1E1E;

	}
}
h1{
		margin-bottom: -6px;
}

	h1,h2{
		font-family: kozuka-gothic-pro, sans-serif;
		font-weight: 900;
		font-style: normal;

	}
.haiku_btn{
		margin:0 auto;
		border: solid 3px #1E1E1E;
		width:149px;
		height:52px;
		display: flex;
		justify-content: center;
		background-color: rgba(10, 10, 10, 0.0);
		z-index: 10;
			a{
			color:#1E1E1E;
			text-align: center;
			font-size:31px;
			}
}
.navbar-brand{
	font-size:31px;
	margin-top: 13px;
}
.sub{
	margin-top:-15px;
	font-size:14px;
}
.description{

p{
	font-size:15px;
	line-height: 9px;
}
}
img{

	position: absolute;
	right: 100px;
	top: 300px;
	z-index: -1;
}

.index{
		height: 80vh;
		width: 289px;
		margin:100px auto;
		.phrase_box{
			width:286px;
			height:341px;
			display: flex;
			justify-content:space-between;
			margin-left: -12px;
			.phrease{
			  -ms-writing-mode: tb-rl;
			  writing-mode: vertical-rl;
			  font-size: 31px;

			}
		}
		
	}


.new{
	height:100vh;
	padding-top: 50px;
	.row{
		display: flex;
		justify-content: space-between;
		.description{
			margin-top: -121px;
		}
		.form{
			form{
				width:300px;
			}
			.haiku_btn_submit{
		margin-left:  209px;
		border: solid 3px #1E1E1E;
		width:90px;
		height:35px;
		display: flex;
		background-color: rgba(10, 10, 10, 0.0);
			color:#1E1E1E;
			text-align: center;
			font-size:19px;
		font-weight: 900;

			}
		}
		
		.attention{
			margin-top: 70px;
		}
	}
}
	@media (max-width:1080px) { 
.title{
	width:70%;
	margin:0 auto;
	display:none;
	h1{
		width:200px;
		height:80px;
		font-size:50px;
	}
}
.haiku_btn{
	margin-left:  0px;
	margin:0 auto;
	border: solid 5px #1E1E1E;
	width:500px;
	height:150px;
	display: flex;
	background-color: rgba(10, 10, 10, 0.0);
	color:#1E1E1E;
	text-align: center;
	a{
	font-size:80px;
	font-weight: 900;
	line-height: 150px;
		width:100%;
	}
}
	.index{
			height: 100vh;
			width: 70%;
			margin:100px auto;
			display:flex;
			justify-content: center;
			.phrase_box{
				width:100%;
				height:62vh;
				display: flex;
				justify-content:space-between;
				margin-left: -12px;
				margin-top:277px;
				.phrease{
				  -ms-writing-mode: tb-rl;
				  writing-mode: vertical-rl;
				  font-size: 100px;
				  line-height: 30px;

				}
			}
			
		}

		.new{
				width:100%;

			.row{
				display:block;
				width:70%;
				margin:200px auto;
				.description{
					text-align:center;
					h2{
						font-size:50px;
					}
					p{
						font-size:20px;
					}
				}
			.form{
				display:flex;
				justify-content: start;
				width:100%;
				max-width:300px;
				margin:0 auto;
				
				form{
					width:418px;
					margin: 100px auto;
					input{
						width:143%;
						height:50px;
					}
					input,label{
					margin-left: -130px;

					}
				}
.haiku_btn_submit{
margin-left:  0px;
margin: 100px auto;
border: solid 5px #1E1E1E;
width:266px;
height:90px;
line-height: 90px;
display: flex;
background-color: rgba(10, 10, 10, 0.0);
color:#1E1E1E;
text-align: center;
font-size:46px;
font-weight: 900;
padding-left: 44px;
}
			}
		}
	}
		img{
			position: absolute;
			right: 50px;
			top: 60vh;
			z-index: -1;
			width:300px;
			opacity:0.5;
		}



}
